@font-face {
  font-family: 'VCR OSD Mono';
    src: url('fonts/VCROSDMono.eot');
    src: url('fonts/VCROSDMono.eot?#iefix') format('embedded-opentype'),
        url('fonts/VCROSDMono.woff2') format('woff2'),
        url('fonts/VCROSDMono.woff') format('woff'),
        url('fonts/VCROSDMono.ttf') format('truetype'),
        url('fonts/VCROSDMono.svg#VCROSDMono') format('svg');
    font-weight: normal;
    font-style: normal;
}
